@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* line 13, ../sass/style.scss */
.totalCont {
  display: table;
  margin: 0 auto;
}

/* line 18, ../sass/style.scss */
.box1 {
  width: 1248px;
  height: 532px;
  position: relative;
}
/* line 23, ../sass/style.scss */
.box1 iframe {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  width: 818px;
  height: 460px;
  position: absolute;
  z-index: 2;
}
/* line 33, ../sass/style.scss */
.box1 .play {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 3;
  margin-top: 15%;
  margin-left: 30%;
}
/* line 42, ../sass/style.scss */
.box1 .video::after {
  content: "";
  background-image: url("../img/fondo.svg");
  position: absolute;
  width: 41%;
  height: 42%;
  top: 59%;
  left: 30%;
  z-index: 1;
}
/* line 53, ../sass/style.scss */
.box1 .logoBox {
  top: 90px;
  left: 850px;
  width: 347px;
  height: 322px;
  position: relative;
  margin-left: 70px;
  display: inline-block;
  text-align: center;
}
/* line 63, ../sass/style.scss */
.box1 .logoBox img {
  width: 172px;
  height: 158px;
  margin: auto;
  display: block;
}
/* line 70, ../sass/style.scss */
.box1 .logoBox div {
  margin-top: 20px;
  margin-bottom: 20px;
  font: normal normal normal 16px/25px Montserrat;
  letter-spacing: 0.32px;
  color: #374957;
}
/* line 78, ../sass/style.scss */
.box1 .logoBox button {
  width: 152px;
  height: 55px;
  border: 1px solid #30404D;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #374957;
}

/* line 91, ../sass/style.scss */
.box2 {
  width: 100%;
  height: 187px;
  background: transparent;
}
/* line 96, ../sass/style.scss */
.box2 .arrow {
  margin-left: 15px;
}
/* line 100, ../sass/style.scss */
.box2 .title {
  text-align: left;
  font: normal normal normal 20px/56px Montserrat;
  letter-spacing: 0.2px;
  color: #033A3F;
  margin: 0;
}
/* line 108, ../sass/style.scss */
.box2 .subtitle {
  text-align: left;
  font: normal normal bold 32px/46px Montserrat;
  letter-spacing: 1.6px;
  color: #033A3F;
  margin: 0;
}
/* line 116, ../sass/style.scss */
.box2 div {
  width: 520px;
  height: 94px;
  text-align: left;
  font: normal normal normal 16px/25px Montserrat;
  color: #374957;
  margin-top: 15px;
}
/* line 125, ../sass/style.scss */
.box2 a {
  text-align: left;
  font: normal normal normal 18px/20px Montserrat;
  letter-spacing: 0.36px;
  color: #1D262D;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 134, ../sass/style.scss */
.box2 .icons {
  position: relative;
  left: 450px;
  bottom: 200px;
  width: 700px;
  height: 150px;
  margin: 0 auto;
}
/* line 142, ../sass/style.scss */
.box2 .icons .block1 {
  display: inline-block;
  width: 220px;
  height: 70px;
  margin-right: 125px;
  margin-bottom: 25px;
}
/* line 150, ../sass/style.scss */
.box2 .icons .block2 {
  display: inline-block;
  width: 220px;
  margin-right: 125px;
}
/* line 156, ../sass/style.scss */
.box2 .icons .image {
  float: left;
  width: 70px;
  height: 64px;
  margin-right: 15px;
}
