@import 'compass/css3';
@import 'compass/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Colores
$corporate_1:#374957;
$corporate_2:#033A3F;
$corporate_3:#1D262D;

//Fuentes
$font_1:Montserrat;

.totalCont {
  display: table;
  margin: 0 auto;
}

.box1{
  width: 1248px;
  height: 532px;
  position: relative;

  iframe{
    @include border-radius(5px);
    margin: 10px;
    width: 818px;
    height: 460px;
    position: absolute;
    z-index: 2;
    }


  .play{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
    margin-top: 15%;
    margin-left: 30%;
  }

  .video::after{
    content: "";
    background-image: url("../img/fondo.svg");
    position: absolute;
    width: 41%;
    height: 42%;
    top: 59%;
    left: 30%;
    z-index: 1;
  }

  .logoBox{
    top: 90px;
    left: 850px;
    width: 347px;
    height: 322px;
    position: relative;
    margin-left: 70px;
    display: inline-block;
    text-align: center;

    img{
      width: 172px;
      height: 158px;
      margin: auto;
      display: block;
    }

    div{
      margin-top: 20px;
      margin-bottom: 20px;
      font: normal normal normal 16px/25px $font_1;
      letter-spacing: 0.32px;
      color: $corporate_1;
    }

    button{
      width: 152px;
      height: 55px;
      border: 1px solid #30404D;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      background: transparent;
      color: $corporate_1;
    }
  }
}

.box2{
  width: 100%;
  height: 187px;
  background: transparent;

  .arrow{
    margin-left: 15px;
  }

  .title{
    text-align: left;
    font: normal normal normal 20px/56px $font_1;
    letter-spacing: 0.2px;
    color: $corporate_2;
    margin: 0;
  }

  .subtitle{
    text-align: left;
    font: normal normal bold 32px/46px $font_1;
    letter-spacing: 1.6px;
    color: $corporate_2;
    margin: 0;
  }

  div{
    width: 520px;
    height: 94px;
    text-align: left;
    font: normal normal normal 16px/25px $font_1;
    color: $corporate_1;
    margin-top: 15px;
  }

  a{
    text-align: left;
    font: normal normal normal 18px/20px $font_1;
    letter-spacing: 0.36px;
    color: $corporate_3;
    text-transform: uppercase;
    text-decoration: none;
  }

  .icons{
    position: relative;
    left: 450px;
    bottom: 200px;
    width: 700px;
    height: 150px;
    margin: 0 auto;

    .block1{
      display: inline-block;
      width: 220px;
      height: 70px;
      margin-right: 125px;
      margin-bottom: 25px;
    }

    .block2{
      display: inline-block;
      width: 220px;
      margin-right: 125px;
    }

    .image{

      float: left;
      width: 70px;
      height: 64px;
      margin-right: 15px;
    }
  }
}